<br />
<div>
  <% if(!isFistPage){ %>
    <span class="lastpage"><a title="previous" href="?p=<%= page-1 %>">previous</a></span>
  <% } %>

  <% if(!isLastPage){ %>
    <span class="nextpage"><a title="next" href="?p=<%= page+1 %>">next</a></span>
  <% } %>
</div>